RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "^Home.html$" "index.php?page=home"
RewriteRule "^Danh-sach-san-pham/([0-9]+).html$" "index.php?page=products&idLoai=$1"
RewriteRule "^Cart.html$" "index.php?page=cart&act=show"
RewriteRule "^Check-out.html$" "index.php?page=checkout"



ErrorDocument 404 /do_an/index.php?page=404
