RewriteEngine On

RewriteRule "index.html" "index.php"
RewriteRule "^Home$" "index.php?page=home"
RewriteRule "^Products/([0-9]+)$" "index.php?page=products&idLoai=$1"
RewriteRule "^Cart$" "index.php?page=cart&act=show"
RewriteRule "^Order$" "index.php?page=order"
RewriteRule "^Check-out$" "index.php?page=checkout"
RewriteRule "^Detail/([0-9]+)$" "index.php?page=detail&id=$1"



ErrorDocument 404 /do_an/index.php?page=404
