* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.app {
    position: relative;
    min-height: 100vh;
}

/*header*/
.header {
    background-color: rgba(250, 251, 252, .1);
    z-index: 2;
}

.header__wrap {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    border-bottom: 1px solid rgb(252, 179, 95);
}

.header__logo {
    padding: 0px 24px;
}

.header__logo-img {
    width: 80%;
}

.header__btn {
    padding: 8px;
    color: rgb(63, 208, 212);
    transition: linear 0.1s;
}

.header__btn:hover {
    cursor: pointer;
    opacity: 0.6;
    color: #FCB35F;
}

.header__btn i {
    padding: 4px;
    font-size: 24px;
}

.header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 -1.5rem 0 0px;
    height: 60px;
}

.header__content-left {
    display: flex;
    align-items: center;
}

.search-wrapper {
    position: relative;
    margin-right: 0.66667rem;
}

.search-wrapper.active {
    width: 330px;
}

.input-holder {
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}

.search-wrapper.active .input-holder {
    width: 290px;
    border-radius: 50px;
    background: rgba(0, 0, 0, .05);
    transition: all .5s cubic-bezier(0, .105, .035, 1.57);
}

.search-input {
    width: 100%;
    padding: 0 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: 0 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0, .105, .035, 1.57);
    transition-delay: .3s;
    font-size: 15px;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 11px);
}

.search-icon {
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;
    transition: all .3s ease-in-out;
    background: rgba(0, 0, 0, .06);
    border-radius: 30px;
}
.setting-btn{
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    font-size: 20px;
    padding-top: 10px;

}

.search-wrapper.active .input-holder .search-icon {
    transform: rotate(-7.5deg);
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(.65, -.6, .24, 1.65);
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 13px;
    border-radius: 2px;
    background: #3f6ad8;
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 0;
    border-radius: 16px;
    border: 2px solid #3f6ad8;
}

.search-wrapper.active .input-holder {
    width: 290px;
    border-radius: 50px;
    background: rgba(0, 0, 0, .05);
    transition: all .5s cubic-bezier(0, .105, .035, 1.57);
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.search-wrapper .close-search {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    opacity: 0 !important;
    transform: rotate(-180deg);
    transition: all .2s cubic-bezier(.285, -.45, .935, .11);
    transition-delay: .1s;
}

.close-search {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close-search i {
    font-weight: 700;
}

button.close-search {
    font-size: 18px;
    font-weight: 600;
    color: #3f6ad8;
    padding: 0;
    background-color: transparent;
    border: 0;
    appearance: none;
    cursor: pointer;
}

.search-wrapper.active .close-search {
    left: 300px;
    opacity: .6 !important;
    transition: all .6s cubic-bezier(0, .105, .035, 1.57);
    transition-delay: .5s;
}

.search-wrapper .close-search::before {
    width: 2px;
    height: 20px;
    left: 9px;
    top: 0;
}

.search-wrapper .close-search::before,
.search-wrapper .close::after {
    position: absolute;
    background: #3f6ad8;
    border-radius: 2px;
}

.header__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
    max-width: 350px;
}

.header__main {
    padding-right: 28px;
}

.header__main-text {
    color: #3fd0d4;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    cursor: pointer;
}

.header__setting {
    position: relative;
    padding-right: 24px;
}

.header__setting i {
    font-size: 28px;
    cursor: pointer;
    color: #3fd0d4;
}

.header__admin__login {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 12px
}

.header__admin__login img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.header__admin__login span {
    color: #3fd0d4;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px;
}


.admin__login-list {
    top: 100%;
    left: 0px;
    margin-top: 4px;
    width: 140px;
    position: absolute;
    background-color: #fff;
    animation: drop ease-in 0.9s;
    animation-fill-mode: backwards;
    border-radius: 5px;
    padding: 8px;
    display: none;
    list-style: none
}

.admin__login-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #3fd0d4;
    font-size: 15px;
    padding: 8px 4px;
    border-bottom: 2px solid black;
}

.admin__login-item a:hover {
    background-color: #3fd0d4;
}

.header__admin__login:hover .admin__login-list {
    display: block;
    transform: rotate(360deg);
}

.header__icon-icon {
    transition: color ease-out 0.2s;
    color: #3fd0d4;
    font-size: 32px;
    cursor: pointer;
}

.header__icon-item {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.header__menu-map {
    z-index: 10;
}

.header__map-checkbox {
    display: none;
}

.header__map-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.header__map-container {
    transition: transform ease-in 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 458px;
    height: 100%;
    padding: 100px 40px 40px 40px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: -1px 0 10px 0 rgba(0, 0, 0, 0.03);
}

.header__map-checkbox:checked~.header__map-overlay {
    display: block;
}

.header__map-checkbox:checked~.header__map-container {
    transform: translateX(0);
}

.header__map-container::-webkit-scrollbar {
    display: none;
}

.header__map-close-icon {
    transition: color ease-out 0.2s;
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px;
    font-size: 1.8rem;
    color: #000;
    cursor: pointer;
}

.header__map-close-icon:hover {
    color: #3fd0d4;
}

.header__map-logo {
    width: 204px;
    height: 65px;
    margin-bottom: 20px;
}

.header__map-sologan {
    width: 282px;
    height: 63px;
    margin-bottom: 52px;
}

.header__map-link {
    text-decoration: none;
    color: transparent;
    display: block;
}

.header__map-img {
    width: 100%;
    height: 220px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.header__map-decs {
    text-align: center;
    font-size: 16px;
    line-height: 2.2rem;
    color: #000;
    margin: 40px 0;
    cursor: default;
}

.header__map-search-heading {
    font-size: 22px;
    color: #000;
    margin: 20px 0;
}

.header__map-search-wrap {
    width: 250px;
    min-height: 50px;
    display: flex;
    padding-left: 16px;
    background-color: #F8F8F8;
    margin-top: 20px;
}

.header__map-search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #F8F8F8;
}

.header__map-search-btn {
    transition: background-color ease-out 0.3s;
    height: 100%;
    width: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: #3fd0d4;
    cursor: pointer;
}

.header__map-search-btn:hover {
    background-color: #2c9fa3;
}

.header__map-social-heading {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin: 40px 0;
}

.header__map-social-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__map-social-item {
    width: 48px;
    height: 48px;
    text-align: center;
    margin: 0 5px;
}

.header__map-social-link {
    transition: background-color ease-out 0.4s;
    display: flex;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #3fd0d4;
    border-radius: 50%;
}

.header__map-social-link:hover {
    background-color: #2c9fa3;
}

.header__map-social-icon {
    margin: auto;
}

.header__bars {
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    color: #3fd0d4;
    outline: none;
    position: relative;
    float: right;
    transform: rotate(90deg);
    cursor: pointer;
    font-size: 20px;
    padding-top: 16px;
    display: none;
}

/*modal bar*/
.modal__bars {
    width: 100%;
    height: 100%;
}

.modal__bars-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.modal__bars-content {
    position: fixed;
    background-color: white;
    width: 30%;
    height: 100%;
    z-index: 10;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: none;
    transition: all 0.3s linear 0s;
}

.bars-close {
    width: 20%;
    padding: 16px;
}

.bars-search input {
    width: 80%;
    padding: 6px 8px;
    margin-left: 26px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}

.bars-category {
    padding: 16px;
}

.bars__list {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    list-style: none;
}

.bars__list-item {
    font-size: 18px;
    margin-top: 12px;
    position: relative;
    border-bottom: 2px solid rgb(51, 51, 51);
}

/*app__content*/
.app__container {
    padding-top: 80px;
    display: flex;
    z-index: 1;
}

.app__category {
    width: 253px;
    z-index: 1;
    min-height: 100vh;
    display: block;
    position: relative;
    background-color: white;
    overflow-y: hidden;
    transition: all .3s ease-in-out;
}

@keyframes drop{
    0% {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }

    30% {
        opacity: 1;
    }

    100% {
        max-height: 100vh;
        overflow: hidden;
    }
}
    .header__setting-noti{
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        padding: 36px 12px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        animation: drop ease-in 0.8s;
        animation-fill-mode: both;
        display: none
    }


    .header__setting-noti-item{
        position: relative;
        width: 25%;
        padding-left: 10px;
        border-right: 1px solid black;
        text-align: center;
    }
    .header__setting-noti-end{
        position: relative;
        width: 25%;
        padding-left: 10px;
    }
    .header__setting-noti-link{
        display: flex;
        align-items: center;
        padding: 8px 32px;
        color: black;
    }
    .header__setting-noti-link i{
        font-size: 20px;
        padding-right: 12px;
    }
    .header__setting-noti-text{
        font-size: 18px;
        font-weight: 500;
    }



  
    
.app__category-header {
    margin-top: 12px;
    display: flex;
    color: white;
    align-items: center;
}

.app__category-heading {
    padding: 8px 20px;
    font-family: sans-serif;
    color: aliceblue;
    display: flex;
    cursor: pointer;
}

.app__category-heading img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.app__category-text {
    padding-left: 12px;
    display: inline-grid;
}

.app__category-text--big {
    font-size: 16px;
    font-family: "ubuntu-bold", sans-serif;
    font-weight: 700;
    padding-bottom: 8px;
    color: #3fd0d4;
}

.app__category-text--small {
    font-size: 12px;
    color: #3fd0d4;
}

.app__category-heading--icon {
    padding-left: 16px;
    padding-top: 10px;
    font-size: 18px;
    color: #2c9fa3;
}

.app__category-list {
    margin-top: 20px;
    list-style: none;
    text-align: left;
}

.app__category-list-item {
    padding: 12px 20px;
    color: rgb(63, 208, 212);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    transition: linear 0.2s;
}

.app__category-list-item span {
    line-height: 1.5rem;
}

.app__category-list-item:hover {
    background-color: #FAF5F5;
    cursor: pointer;
}

.app__content {
    background-color: #FAF5F5;
    width: 100%;
    padding: 20px 12px;

}

.app__content-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__content-heading {
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: #333;
}

.app__content-heading p {
    font-family: sans-serif;
}

.app__content-add-product {
    padding: 10px;
}

.app__content-add-product button {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background-color: #FCB35F;
    border: 1px solid #FCB35F;
    transition: linear 0.2s;
}

.app__content-add-product button:hover {
    background-color: white;
    cursor: pointer;
    color: #333;
}

.app__content-container {
    margin-top: 20px;
}

.app__content-container-title {
    padding: 20px;
    font-family: sans-serif;
    background-color: white;
}

.app__content-title {
    display: flex;
    justify-content: space-between;
}

.app__content-container-show {
    padding: 20px;
    font-family: sans-serif;
    background-color: white;
    margin-top: 20px;
}

.app__content-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

.app__content-view-img img {
    padding: 4px;
    width: 65px;
    height: 65px;
}

.app__content-view-tools {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.app__content-view-tools-update {
    padding: 6px 8px;
    background-color: #FCB35F;
    color: white;
    border-radius: 5px;
    border: 1px solid #FCB35F;
    transition: linear 0.1s;
}

.app__content-view-tools-delete {
    padding: 6px 8px;
    background-color: #E74C3C;
    color: white;
    border-radius: 5px;
    margin-left: 4px;
    border: 1px solid #E74C3C;
    transition: linear 0.1s;
}

.app__content-view-tools-update:hover,
.app__content-view-tools-delete:hover {
    cursor: pointer;
    color: #333;
    background-color: white;
}

/*app content view */
.app__content-view-id {
    width: 5%;
    overflow-x: hidden;
    padding: 4px;
}
.app__content-view-user,
.app__content-view-prices{
    width: 12.5%;
    overflow-x: hidden;
    padding: 8px;
}
.app__content-view-name {
    width: 20%;
    padding: 8px;
}

.app__content-view-name p{
    overflow: hidden;
    text-overflow: ellipsis;

}

.app__content-view-type {
    width: 20%;
    overflow-x: hidden;
    padding: 8px;
    padding-left: 40px;
}
.app__content-view-description {
    width: 12.5%;
    overflow-x: hidden;
    padding: 8px;
}
.app__content-view-description p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.app__content-view-quantity {
    width: 5%;
    overflow-x: hidden;
    padding: 8px;
}
.app__content-view-tools {
    width: 10%;
}

.app__content-view-img {
    width: 13%;
    overflow-x: hidden;
    padding: 8px;
}


.app__content-title-id {
    width: 5%;
    padding: 4px;
    overflow-x: hidden;
}

.app__content-title-user,
.app__content-title-prices {
    width: 12.5%;
    padding: 8px;
}

.app__content-title-description {
    width: 12.5%;
    padding: 8px ;
}

.app__content-title-img {
    width: 13%;
    padding: 8px;
}

.app__content-title-type {
    width: 20%;
    padding: 8px;
    padding-left:20px;
}

.app__content-title-name {
    width: 20%;
    padding: 8px 8px 8px 16px;
}

.app__content-title-quantity {
    width: 10%;
    padding: 8px;
}

.app__content-title-tools {
    width: 10%;
    padding: 8px;
}

.hide-on-pc {
    display: none;
}

.pagination {
    width: 100%;
    position: relative;
    padding-bottom: 80px;
    margin-top: 40px;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pagination__list-item{
    padding: 4px;
    cursor: pointer;
    
}
.pagination__list-item:hover{
    color:#3f6ad8;
}
.pagination__list-link {
    text-decoration: none;
    border: none;
    color: black;
    padding-right: 8px;
}
@media (min-width:1024px) {
    .header__btn{
        display: none !important;
    }

}
@media (min-width:739px) and (max-width:1024px) {
    .modal__edit-order-content,
    .modal__edit-product-content,
    .modal__add-product-content {
        top: 15% !important;
        left: 20% !important;
        width: 60% !important;
    }
    
    .header__btn{
        display: none !important;
    }
    .app__content-title_order-user{
        padding-left: 12px;
    }
    .app__content-view_order-detail{
        padding-right: 12px;
    }
}
@media (min-width:739px) {
    .app__category{
        display: none;
    }

   
}

@media (max-width:740px) {
    .modal__edit-order-content,
    .modal__edit-product-content,
    .modal__add-product-content {
        top: 20% !important;
        left: 5% !important;
        width: 90% !important;
    }

    .app__content-container-title {
        display: none;
    }

    .hide-on-mobile-admin {
        display: none;
    }

    .display-on-mobile {
        display: block;
    }

    .app__content-heading p {
        font-size: 14px;
    }

    .app__content-add-product button {
        padding: 4px;
        font-size: 14px;
    }

    .app__category {
        width: 253px;
        position: absolute;
        z-index: 1;
    }

    .app__content {
        padding-left: 82px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        overflow-x: hidden;

    }

    .app__content-mobile-view {
        background-color: white;
        padding: 20px 12px;
        margin-top: 20px;
        color: #333;
    }


    .app__content-mobile-view-id,
    .app__content-mobile-view-name,
    .app__content-mobile-view-user,
    .app__content-mobile-view-img,
    .app__content-mobile-view-prices,
    .app__content-mobile-view-quantity,
    .app__content-mobile-view-type,
    .app__content-mobile-view-description {
        padding: 4px;
    }


    .app__content-mobile-view-user span {
        text-transform: uppercase;
    }

    .app__content-mobile-view-id p,
    .app__content-mobile-view-name p,
    .app__content-mobile-view-user p,
    .app__content-mobile-view-img-content,
    .app__content-mobile-view-prices p,
    .app__content-mobile-view-img p,
    .app__content-mobile-view-tools p,
    .app__content-mobile-view-quantity p,
    .app__content-mobile-view-type p,
    .app__content-mobile-view-description p {
        font-size: 16px;
        font-family: sans-serif;
    }

    .app__content-mobile-view-name span {
        text-transform: uppercase;
    }

    .app__content-mobile-view-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .app__content-mobile-view-img-img img {
        width: 50px;
        height: 50px;
    }

    .app__content-mobile-view-tools {
        padding: 4px;
        display: flex;
        justify-content: space-between;
    }

    .app__content-mobile-view-tools-update {
        padding: 6px 8px;
        background-color: #FCB35F;
        color: white;
        border: 1px solid #FCB35F;
        border-radius: 5px;
    }

    .app__content-mobile-view-tools-delete {
        padding: 6px 8px;
        background-color: #E74C3C;
        color: white;
        border: 1px solid #E74C3C;
        border-radius: 5px;
    }

    .app__content-mobile-view-tools-update:hover,
    .app__content-mobile-view-tools-delete:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }

    .app__content-mobile-view-name p,
    .app__content-mobile-view-user p,
    .app__content-mobile-view-id p {
        font-size: 15px;
    }


    .app__content-mobile-view_order-id,
    .app__content-mobile-view_order-user,
    .app__content-mobile-view_order-date,
    .app__content-mobile-view_order-total,
    .app__content-mobile-view_order-status,
    .app__content-mobile-view_order-detail {
        padding: 4px;
    }
    .app__content-mobile-view_order-id p,
    .app__content-mobile-view_order-user p,
    .app__content-mobile-view_order-date p,
    .app__content-mobile-view_order-total p,
    .app__content-mobile-view_order-status p,
    .app__content-mobile-view_order-detail p{
        font-size: 16px;
        font-family: sans-serif;
    }

    .app__content-mobile-view-tools {
        padding: 10px 4px 4px 4px;
        display: flex;
        justify-content: space-between;
    }
    

    .app__content-mobile-view_order-tools-delete {
        padding: 6px 8px;
        background-color: #E74C3C;
        color: white;
        border: 1px solid #E74C3C;
        border-radius: 5px;
    }

    .app__content-mobile-view_order-tools-delete:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
    .app__content-mobile-view_order-tools-detail{
        background-color: rgba(255, 209, 93, 1);
    padding: 6px;
    margin: 8px 0;
    }

    .modal__detail-bill-content{
        left: 5% !important;
        width: 90% !important;
    }

    .modal__detail-bill-product-content{
        max-height: 150px !important;
    }
    .modal__detail-bill-header p{
        font-size: 16px !important;
    }

    .modal__detail-bill-id p{
        font-size: 14px !important;
    }

    .modal__detail-bill-product-header p{
        font-size: 15px !important;
    }
    .modal__detail-bill-product-id-title p,
    .modal__detail-bill-product-name-title p,
    .modal__detail-bill-product-img-title p,
    .modal__detaill-bill-product-prices-title p{
        font-size: 14px !important;
    }

    .modal__detail-bill-product-id p,
    .modal__detail-bill-product-name p,
    .modal__detaill-bill-product-prices p{
        font-size: 13px !important;
    }

   
}

.modal__add-product {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    animation: 0.3s ease-in 0s 1 normal none running transitionY;

}
.modal__edit-order,
.modal__edit-product {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    animation: 0.3s ease-in 0s 1 normal none running transitionY;

}

.modal__add-product-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.modal__edit-order-content,
.modal__edit-product-content,
.modal__add-product-content {
    top: 15%;
    left: 35%;
    width: 30%;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: white;
    z-index: 11;
    border-radius: 5px;
    animation: .3s ease-in transitionY;
    position: fixed;
}

.modal__add-product-header {
    margin-top: 8px;
}

.modal__add-product-header p {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
}

.modal__add-product-id,
.modal__add-product-user,
.modal__add-product-name,
.modal__add-product-img,
.modal__add-product-prices,
.modal__add-product-type,
.modal__add-product-description,
.modal__add-product-quantity,
.modal__add-product-btn {
    margin-top: 12px;
}

.modal__add-product-id input,
.modal__add-product-user input,
.modal__add-product-name input,
.modal__add-product-prices input,
.modal__add-product-description input,
.modal__add-product-quantity input,
#selectadminproduct {
    width: 70%;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    border: 1px solid #333;
}
.modal__add-product-type select{
    width: 70%;
    padding: 8px;
}

.modal__add-product-img input {
    width: 55%;
    font-size: 14px;
    font-family: sans-serif;
}
.editIMG{
    padding-top: 8px;
}

.modal__add-product-btn button {
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    transition: linear 0.2s;
    width: 70%;
    text-align: center;
    padding: 8px
}

.modal__add-product-btn button:hover {
    cursor: pointer;
    background-color: white;
    color: #333;
}

.modal__add-product-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    transition: linear 0.1s;
}

.modal__add-product-btn-close i {
    font-size: 22px;
}

.modal__add-product-btn-close:hover {
    cursor: pointer;
    color: #FCB35F;
}
.app__content-title_order-id{
    width: 5%;
    padding: 8px;
}
.app__content-title_order-user{
    width: 17.5%;
    padding: 8px;
}
.app__content-title_order-date {
    width: 17.5%;
    padding: 8px;
        padding-left: 12px;

}
.app__content-title_order-total {
    width: 17.5%;
    padding: 8px;
   
}
.app__content-title_order-status{
    width: 17.5%;
    padding: 8px;
}
.app__content-title_order-detail {
    width: 17.5%;
    padding: 8px;
}
.app__content-view_order-detail button{
    background-color: rgba(255, 209, 93, 1);
    padding: 6px;
}
/*app content view order*/
.app__content-view_order-id{
    width: 5%;
    padding: 8px;
}
.app__content-view_order-user{
    width: 17.5%;
    padding: 8px;
    padding-left: 50px;
}
.app__content-view_order-date {
    width: 17.5%;
    padding: 8px;
}
.app__content-view_order-total {
    width: 17.5%;
    padding: 8px;
}
.app__content-view_order-status{
    width: 17.5%;
    padding: 8px;
}
.app__content-view_order-detail {
    width: 17.5%;
    padding: 8px;
    padding-left: 28px;
}
.app__content-view_order-tools-delete {
    padding: 6px 8px;
    background-color: #E74C3C;
    color: white;
    border-radius: 5px;
    margin-left: 28px;
    border: 1px solid #E74C3C;
    transition: linear 0.1s;
}

.modal__detail-bill{
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.modal__detail-bill-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}

.modal__detail-bill-content{
    top: 8%;
    left: 20%;
    width: 60%;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: #FAF5F5;
    z-index: 11;  
    border-radius: 5px;
    animation: .3s ease-in transitionY;
    position: fixed;
}

.modal__detail-bill-header{
    padding: 8px;
    text-align: center;
}

.modal__detail-bill-header p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.modal__detail-bill-id{
    margin-top: 8px;
}

.modal__detail-bill-id p{
    font-size: 15px;
    font-family: sans-serif;
}

.modal__detail-bill-product-header{
    text-align: left;
    padding: 8px 12px;
}

.modal__detail-bill-product-header p{
    font-family: sans-serif;
    font-weight: 550;
    font-size: 16px;
}

.modal__detail-bill-product-content{
    margin-top: 12px;
    overflow-y: scroll;
    max-height: 250px;
}

.modal__detail-product-view{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    align-items: center;
    margin-top: 4px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

.modal__detail-bill-product-id,
.modal__detail-bill-product-name,
.modal__detaill-bill-product-prices,
.modal__detail-bill-product-img{
    padding: 8px;
    text-align: left;
}

.modal__detail-bill-product-id,
.modal__detaill-bill-product-prices{
    width: 20%;
    overflow-x: hidden;
}

.modal__detaill-bill-product-quantify{
    padding: 8px;
}

.modal__detail-bill-product-img,
.modal__detail-bill-product-name{
    width: 25%;
    overflow-x: hidden;
}

.modal__detaill-bill-product-quantify{
    width: 10%;
    overflow: hidden;
}

.modal__detail-bill-product-id p,
.modal__detail-bill-product-name p,
.modal__detaill-bill-product-prices p,
.modal__detaill-bill-product-quantify p{
    font-family: sans-serif;
    font-size: 14px;
}

.modal__detail-bill-product-img img{
    width: 50px;
    height: 50px;
}

.modal__detail-bill-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    text-align: left;
    background-color: white;
    margin: 0 8px;
}

.modal__detail-bill-product-id-title,
.modal__detaill-bill-product-prices-title{
    padding: 8px;
    text-align: left;
    width: 20%;
}

.modal__detail-bill-product-img-title,
.modal__detail-bill-product-name-title{
    padding: 8px; 
    text-align: left;
    width: 25%;
}

.modal__detaill-bill-product-quantify-title{
    width: 10%;
    padding:8px;
    text-align: left;
}

.modal__detail-bill-product-img-title p,
.modal__detail-bill-product-name-title p,
.modal__detail-bill-product-id-title p,
.modal__detaill-bill-product-prices-title p,
.modal__detaill-bill-product-quantify-title p{
    font-size: 16px;
    font-family: sans-serif;
}

.modal__detail-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    transition: linear 0.3s;
}

.modal__detail-close i{
    font-size: 23px;
}

.modal__detail-close:hover{
    cursor: pointer;
    opacity: 0.6;
    color: #FCB35F;
}

.modal__detail-bill-product-total,.modal__detail-bill-product-time{
    padding: 8px;
    margin: 8px;
    background-color: white;
}

.modal__detail-bill-product-total p,
.modal__detail-bill-product-time p{
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
}

.calendar-btn{
    padding: 2px 12px;
    background-color: rgba(255, 209, 93, 1);
    font-weight: 400;
}
.sProduct-btn{
    padding: 2px 12px;
    background-color: rgba(255, 209, 93, 1);
    font-weight: 400;
}
.edit-ProductIMG{
    width: 10%;
}